body {
    font-family: 'Raleway', sans-serif; 
    background-image: url('midas-hofstra-xN0xvvumnEw-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(229,220,237);
}

.header {
    display: flex;
    justify-content: center;
}

form {
    margin-left: 120px;
}

p {
    font-size: 17px;
}

.custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-radio+label::before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #adb5bd;
        border-radius: 0.25em;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
}
.custom-radio:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
/* стили при наведении курсора на checkbox */
.custom-radio:not(:disabled):not(:checked)+label:hover::before {
    border-color: #007bff40;
}
  /* стили для чекбокса, находящегося в фокусе */
  .custom-radio:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.251);
}

.question {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.btn {
    width: 10%;
    margin: 20px;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    padding: 10px 0px;
    background-color: #4caf4f;
    border: none;
    border-radius: 7px;
}

.btn:hover {
    background-color: #42d747;
    cursor: pointer;
}

@media all and (max-width: 915px){
    .btn {
        width: 20%;
    }
}
@media all and (max-width: 768px){
    h1 {
    font-size: 30px;
    }
}
@media all and (max-width: 720px){
    h1 {
    font-size: 25px;
    }
}
@media all and (max-width: 540px){
    .header {
        text-align: center;
    }
    form {
        margin-left: 20px;
    }
}
@media all and (max-width: 414px) {
    .btn {
        width: 30%;
    }
}
@media all and (max-width: 320px) {
    h1 {
        font-size: 20px;
    }
    .btn {
        width: 40%;
    }
}
